.future-card img {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.quality-row {
  display: flex;
  gap: 20px;
}
.sign-btn {
  padding: 60px 0;
  text-align: center;
}
#qualities {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}
.oval {
  position: absolute;
  bottom: 0;
  border-radius: 47%;
  z-index: -1;
  width: 110%;
  left: -5%;
  height: 80vh;
  background: rgb(237, 237, 224);
  background: linear-gradient(
    0deg,
    rgb(216, 216, 208) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 100%
  );
}
